@charset "utf-8";
/* CSS Document */
body{
	font-family:"microsoft yahei";
	line-height:1.5;
}
ul{
	list-style:none;
}
.tree a{
	text-decoration:none;
	display:block;
}
.tree .btn{
	color:#3498db;
}
.tree .a_text{
	color:#7f8c8d;
}
.tree .btn:hover{
	color:#2980b9;
}
.tree ul>li{
}
.tree ul{
	padding-left:16px;
}